* {
    margin:0;
    padding:0; 
    box-sizing: border-box;
    
}
body {
    width: 98vw;
    height: 100vh;
    display:grid;
    grid-template-rows:1fr 1fr 1fr ; 
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "header header header"
    "main main main"
    "footer footer footer" ;
}

header {
    background-image: radial-gradient( orange ,rgb(56, 155, 89) ,rgb(33, 33, 88));
    grid-area: header;

}

header nav {
 
    display: flex;
    justify-content: space-between;
}
#btn a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #0e0d0d;
    padding: 10px;
    box-shadow: none;
}

main {
    background-image: linear-gradient(170deg , orange ,rgb(56, 155, 89) ,rgb(33, 33, 88));
    grid-area: main;
}

#centerImg {
    align-items: center;
}
#sectTres {
    text-align: center;
}

#centrar {
    display: grid;
    grid-template-rows: 1fr ; 
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "izq der";
    text-align: center; 
}

#derecha {
    grid-area: der;
}
#izquierda {
    grid-area: izq;
}

section nav {
    font-size: 25px;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
    list-style-type:none;
    align-items: center;
}




footer {
    grid-area: footer;
    background-color: rgb(150, 146, 150);
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "textoizq textoder";
}

#textoIzq {
    grid-area: textoizq;
}
#textoDer {
    grid-area: textoder;
}

 div img {
    height: 200px;
    width: 200px;
}


button {
    color: #1D9AF2;
    background-color: #292D3E;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
    opacity: 0.5;
}
button:hover {
    transform: rotateZ(-30deg);
}
.link {
    color: #1D9AF2;
    background-color: #e4e7f3;
    border: 1px solid #1D9AF2;
    border-radius: 4px;
    padding: 0 15px;
    cursor: pointer;
    height:32px;
    font-size:14px;
    transition: all 0.2s ease-in-out;
}
.link:hover {
    transform: scale(0.8);
}


.pic-ctn {
    width: 100vw;
    height: 200px;
  }
  
  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    10% {
      transform: translateX(0);
      opacity: 1;
    }
    20% {
      transform: translateX(0);
      opacity: 1;
    }
    30% {
      transform: translateX(-200px);
      opacity: 0;
    }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }
  
  .pic-ctn {
    position: relative;
    width: 100vw;
    height: 300px;
    margin-top: 10vh;
  }
  
  .pic-ctn > img {
    position: absolute;
    top: 0;
    left: calc(50% - 100px);
    opacity: 0;
    animation: display 10s infinite;
  }
  
  img:nth-child(2) {
    animation-delay: 2s;
  }
  img:nth-child(3) {
    animation-delay: 4s;
  }
  img:nth-child(4) {
    animation-delay: 6s;
  }
  img:nth-child(5) {
    animation-delay: 8s;
  }



@media screen and (max-width: 1400px) { 
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 480px) { 
    .link {
        color: #1D9AF2;
        background-color: #dfe1e9;
        border: 1px solid #1D9AF2;
        border-radius: 4px;
        padding: 0 15px;
        cursor: pointer;
        height:40px;
        font-size:14px;
        transition: all 0.2s ease-in-out;
        }
    .link:hover {
        border-radius: 50%;
        }
}
@media screen and (max-width: 320px) { 
    #centrar {
        display: grid;
        grid-template-rows: 1fr 1fr ; 
        grid-template-columns: 1fr;
        grid-template-areas:
        "izq"
        "der";
        text-align: center; 
    }
    
    #derecha {
        grid-area: der;
    }
    #izquierda {
        grid-area: izq;
    }

}